{% extends "base.html" %}

{% block title %} Archive {% endblock  %}

{% block style %}
    <style>
      .container {
    width: 40%;
    margin: 30px auto;
}

.tag-container {
    border: 2px solid #ccc;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow-x: scroll;
}

.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}

.tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: 'Rubik';
    color: #333;
    flex: 1;
}

h2 {
    text-align: center;
    margin-top: 0.7em;
}

h4 {
    text-align: center;
}

#filter {
    margin: 0 auto;
    display: block;
}

ul {
    text-align: center;
}

</style>
{% endblock %}

{% block content %}
  <br><br>
  <h2>Questions archive</h2>
  <div class="container">
      <h4>Input your tags<br> to sort easily</h4>
    <div class="tag-container">
        <input/>  
    </div>        
  </div>
  <button type="button" class="btn btn-danger" id="filter">Filter by tags</button>
  <hr>
  <div>
    <ul id="all-questions">
      {% for question in questions %}
      <li class="select-question">{{ question }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block script %}
<script type="text/javascript">

  var socket = io.connect();    
  const tagContainer = document.querySelector('.tag-container');
  const input = document.querySelector('.tag-container input');
  let tags = [];

  function createTag(label) {
      const div = document.createElement('div');
      div.setAttribute('class', 'tag');
      const span = document.createElement('span');
      span.innerHTML = label;
      const closeIcon = document.createElement('i');
      closeIcon.innerHTML = 'close';
      closeIcon.setAttribute('class', 'material-icons');
      closeIcon.setAttribute('data-item', label);
      div.appendChild(span);
      div.appendChild(closeIcon);
      return div;
  }

  function clearTags() {
      document.querySelectorAll('.tag').forEach(tag => {
          tag.parentElement.removeChild(tag);
      });
  }

  function addTags() {
      clearTags();
      tags.slice().reverse().forEach(tag => {
          tagContainer.prepend(createTag(tag));
      });
  }

  input.addEventListener('keyup', (e) => {
      if (e.key === 'Enter') {
          e.target.value.split(',').forEach(tag => {
              tags.push(tag);  
          });
          addTags();
          input.value = '';
      }
  });

  document.addEventListener('click', (e) => {
      if (e.target.tagName === 'I') {
          const tagLabel = e.target.getAttribute('data-item');
          const index = tags.indexOf(tagLabel);
          tags = [...tags.slice(0, index), ...tags.slice(index+1)];
          addTags();    
      }
  })

  input.focus();

  document.querySelector('#filter').onclick = () => { 
    console.log(tags);
    console.log(tags.values());
    socket.emit('filter', {'tags': tags });
  }

  socket.on('filter_result', data => {
      console.log("ivan");
    console.log(data);
    console.log("petkan");
    $('#all-questions').empty();
    data['result'].forEach(element => {
        console.log(element);
        $("<li></li>").text(element.content + " | " +  element.answer + " | " + element.user + " | " + element.category).appendTo("#all-questions");
    });
  });

    
</script>

{% endblock %}
