<!DOCTYPE html>
<html>
<head>
  <title>Choice</title>
  <link rel="stylesheet" href="../static/styles/choice.css"/>
</head>
<body>
  <h2>What are you good at?</h2>
   <div class="slider">
      <div class="slider-items">
          <div  class="item active">
             <img src="../static/images/slide1.jpg" onclick="alert('You chose acting')"/>
             <div class="caption">
                Acting
             </div>
          </div>
          <div  class="item">
            <img src="../static/images/slide2.jpg" onclick="alert('You chose Computer Science')"/>
             <div class="caption">
                Computer Science
             </div>
          </div>
          <div  class="item">
            <img src="../static/images/slide3.jpg" onclick="alert('You chose Biology')"/>
             <div class="caption">
                Biology
             </div>
          </div>

      </div>
          <div class="left-slide"><</div>
          <div class="right-slide">></div>
   </div>

   <script src="../static/scripts/choice.js"></script>
</body>
</html>