{% from 'form_macro.html' import displayField %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    </head>
    <body>
        
        
        <div class="sidenav">
            <div class="login-main-text">
                <h2>AAP<br> The fun begins.</h2>
                <p>Login and start exploring.</p>
            </div>
        </div>
        <div class="main">
            <div class="col-md-6 col-sm-12">
                <div class="login-form">
                    <form action="{{ url_for('login') }}", method="POST">
                        
                        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
                        {{ displayField(form.password, 'Password') }}
                        
                        <div>
                            {{ form.submit_button }}
                        </div>
                        
                        {{ form.csrf_token }}
                        
                    </form>
                    
                </div>
            </div>
        </div>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </body>
    </html>